* {
    font-family: Helvetica;
    font-size: medium;
    line-height: 25px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
    padding: 10px;
}
#nav-left {
    display: flex;
    
}
#nav-right {
    display: flex;
    
    
}
#sorty, #features, #pricing, #resources, #login, #signup {
    margin: 10px;
    padding: 10px;
    line-height: 25px;
}
#signup {
    background-color: #8EE5D1;
    width: 120px;
    line-height: 20px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
}
#sorty {
    font-weight: bold;
    font-size: x-large;
    line-height: 15px;
}
#first-section {
    display: flex;
    margin: 40px 60px;
    padding: 10px;
}
#first-heading {
    font-weight: bold;
    line-height: 50px;
    font-size: 50px;
    width: 80%;
    padding-top: 20px;
    
}
img {
    width: 40%
}
#first-para {
    width: 45%;
}
#get-started {
    background-color: #8ee5d1;
    width: 130px;
    height: 50px;
    font-weight: bold;
    border-radius: 25px;
}