* {
    font-family: Helvetica;
    font-size: medium;
    line-height: 25px;
}
body {
    margin: 0px;
    padding: 0px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
    padding: 10px;
}
#nav-left {
    display: flex;
    
}
#nav-right {
    display: flex;
    
    
}
#sorty, #features, #pricing, #resources, #login, #signup {
    margin: 10px;
    padding: 10px;
    line-height: 25px;
}
#signup {
    background-color: #8EE5D1;
    width: 120px;
    line-height: 20px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    border-style: none;
}
#sorty {
    font-weight: bold;
    font-size: x-large;
    line-height: 15px;
}
#first-section {
    display: flex;
    margin: 40px 60px;
    padding: 10px;
}
#first-heading {
    font-weight: bold;
    line-height: 50px;
    font-size: 50px;
    width: 80%;
    padding-top: 20px;
    
}
img {
    width: 40%
}
#first-para {
    width: 45%;
}
#get-started {
    background-color: #8ee5d1;
    width: 130px;
    height: 50px;
    font-weight: bold;
    border-radius: 25px;
    border-style: none;
}
#second-section {
    background-color: #F4F7FA;
    display: flex;
    justify-content: center;
    height: 140px;
    align-items: center;
}
input {
    width: 40%;
    height: 20px;
    border-radius: 10px;
    margin: 0px 10px;
    padding: 10px;
    border-style: solid;
    border-color: #e2e2e1fc;
}
#book-demo {
    background-color: #8ee5d1;
    border-radius: 10px;
    height: 45px;
    width: 10%;
    margin: 10px;
    font-weight: bold;
    padding: 10px;
    border-style: none;
}
#blocks {
    display: flex;
    margin: 10px 50px;
    padding: 10px;
    
    
}
#block-1, #block-2, #block-3 {
    background-color: #F4F7FA;
    margin: 50px 25px;
    width: 25%;
    height: 250px;
    padding: 20px 110px;
    border-radius: 10px;

}
#block-1::first-line, #block-2::first-line, #block-3::first-line {
    font-weight: bold;
    font-size: xx-large;
    color: #8ee5d1;
    
    
}

#block-1-text::first-line, #block-2-text::first-line, #block-3-text::first-line {
    font-weight: bold;
    line-height: 50px;
}
#third-section-heading {
    font-size: 50px;
    font-weight: bold;
    margin: 90px 0px 40px;
}
#third-section {
    display: block;
    text-align: center;
}
#third-section-para {
    margin: 0px 450px 30px;
    line-height: 25px;

}
footer {
    background-color: #F4F7FA;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 0px;
    padding: 30px 90px;
}
#about::first-line {
    font-weight: bold;
    font-size: medium;
    
}
#contact::first-line {
    font-weight: bold;
    font-size: medium;
}
#contact {
    line-height: 1px;
    text-align: right;
    
    
}
#about {
    width: 39%;
    line-height: 1px;
    
    
}
span {
    font-weight: bold;
    line-height: 1px;
}

@media screen and (max-width: 640px){
    #features, #pricing, #resources{
        display: none;
    }
    #first-section {
        flex-direction: column;
        margin-top: -60px;
        
        
    }
    #sorty {
        font-size: 40px;
    }
    #signup {
        margin-right: 20px;
        font-size: 16px;
        height: 50px;
        width: 140px;
        border-radius: 50px;
    }
    
    
    #first-heading {
        text-align: center;
        width: 100%;
        
        
    }
    #first-para {
        text-align: center;
        width: 100%;
        margin-top: -20px;
        font-size: 25px;
        line-height: 35px;
        font-weight: lighter;
  
    }
    #get-started {
        margin-left: 28%;
        height: 60px;
        width: 200px;
        font-size: 23px;
        
    }
    img {
        justify-content: center;
        width: 100%;
        height: 40%;
        margin-top: 60px;
    }
    #second-section {
        flex-direction: column;
        height: 250px;
    }
    input {
        width: 69%;
        height: 40px;
        margin-bottom: 15px;
        padding-left: 20px;
        
    }
    #book-demo {
        width: 75%;
        height: 60px;
    }
    #blocks {
        flex-direction: column;
        margin: 0px 35px 0px 38px;
        width: 130%;
        

    }
    #block-1, #block-2, #block-3 {
        padding: 5px 40px 5px 30px;
        width: 46%;
        
    }
    #block-1::first-line, #block-2::first-line, #block-3::first-line {
        font-size: 50px;
        
        
    }
    #block-1-text::first-line, #block-2-text::first-line, #block-3-text::first-line {
        font-size: 30px;
        padding-left: 0px;
    }
    #block-1-text, #block-2-text, #block-3-text {
        font-size: 20px;
        line-height: 30px;
        padding: 10px;
        font-weight: lighter;
    }
    footer {
        flex-direction: column;
        height: 320px;
        justify-content: space-evenly;   
    }
    #about {
        width: 85%;
        margin-left: -17px;
        justify-content: flex-start;
        font-size: 15px;
        font-weight: lighter;      
    }
    #contact {
        font-size: 15px;
        text-align: left;
        margin-left: -17px;
        line-height: 0.5px;
        font-weight: lighter;
        
    }
    #about::first-line, #contact::first-line {
        font-size: xx-large;
    }
    #third-section-para {
        text-align: center;
        margin: 10px 75px;
        font-size: 25px;
        font-weight: lighter;
    }
    
    

}